footer{
    text-align: center;
    font-size: 2.8rem;
    a{
        text-decoration: none;
    }
    a:visited{
        color: orange;
        }
    .footerCredit{
        font-size: 2rem;
        @include iphonePlus{
            font-size: 1.8rem;
        }
        @include iphone5{
            font-size: 1.65rem;
        }
    }
    @include ipad{
        padding-top: 80px;
    }
    @include iphonePlus{
        font-size: 2.2rem;
    }
    @include iphone5{
        font-size: 2rem;
    }
}