
form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
        input{
            padding: 5px;
        }
        button{
            color: $darkGreen;
            background: $lightGreen;
        }
        
}